fastapi
uvicorn
langgraph
langchain-groq
langchain-core
langchain-community
langchain-mongodb
langgraph-checkpoint-mongodb
motor
pymongo
pymongo
pydantic
python-dotenv
requests
mcp[sse]
wikipedia
duckduckgo-search
nest_asyncio
typing-extensions
passlib
bcrypt
pyjwt
python-multipart
gunicorn
